<%= render HeadingComponent.new(title: "J-RPG Rails") %>

Choose a playthrough or start a new game.

<hr/>

<%= Playthrough.all.find_each do |playthrough| %>
  <div class="mb-2">
    <%= link_to(
      "Load",
      playthrough_path(playthrough),
      class: "Button Button--compact"
    ) %>

    Playthrough <%= playthrough.number %>
    
    <% if playthrough.character.present? %>
      &ndash; <%= playthrough.character.name %>
    <% end %>
  </div>
<% end %>

<div>
  <%= button_to(
    "New Game",
    playthroughs_path,
    class: "Button Button--compact Button--green"
  ) %>
</div>
